<div id="<%= dom_id staff %>">
  <p>
    <strong>Staffid:</strong>
    <%= staff.staffID %>
  </p>

  <p>
    <strong>Fullname:</strong>
    <%= staff.fullName %>
  </p>

  <p>
    <strong>Phonenumber:</strong>
    <%= staff.phoneNumber %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= staff.email %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= staff.address %>
  </p>

</div>
