<div id="<%= dom_id order %>">
  <p>
    <strong>Orderid:</strong>
    <%= order.orderID %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= order.customer_id %>
  </p>

  <p>
    <strong>Orderdate:</strong>
    <%= order.orderDate %>
  </p>

  <p>
    <strong>Totalamount:</strong>
    <%= order.totalAmount %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= order.status %>
  </p>

  <p>
    <strong>Staff:</strong>
    <%= order.staff_id %>
  </p>

</div>
