<div id="<%= dom_id order_item %>">
  <p>
    <strong>Orderitemsid:</strong>
    <%= order_item.orderitemsID %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= order_item.order_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= order_item.product_id %>
  </p>

  <p>
    <strong>Quality:</strong>
    <%= order_item.quality %>
  </p>

  <p>
    <strong>Subtotal:</strong>
    <%= order_item.subtotal %>
  </p>

</div>
