<div id="<%= dom_id shipment %>">
  <p>
    <strong>Shippingid:</strong>
    <%= shipment.shippingID %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= shipment.order_id %>
  </p>

  <p>
    <strong>Shippingdate:</strong>
    <%= shipment.shippingDate %>
  </p>

  <p>
    <strong>Adress:</strong>
    <%= shipment.adress %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= shipment.status %>
  </p>

  <p>
    <strong>Staff:</strong>
    <%= shipment.staff_id %>
  </p>

</div>
